
.gradle/vcs-1/gc.properties
.gradle/checksums/sha1-checksums.bin
.gradle/checksums/md5-checksums.bin
.gradle/checksums/checksums.lock
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/7.0.2/javaCompile/taskHistory.bin
.gradle/7.0.2/javaCompile/javaCompile.lock
.gradle/7.0.2/javaCompile/jarAnalysis.bin
.gradle/7.0.2/javaCompile/classAnalysis.bin
.gradle/7.0.2/gc.properties
.gradle/7.0.2/fileHashes/resourceHashesCache.bin
.gradle/7.0.2/fileHashes/fileHashes.lock
.gradle/7.0.2/fileHashes/fileHashes.bin
.gradle/7.0.2/fileChanges/last-build.bin
.gradle/7.0.2/executionHistory/executionHistory.lock
.gradle/7.0.2/executionHistory/executionHistory.bin
.gradle/7.0.2/dependencies-accessors/gc.properties
.gradle/7.0.2/dependencies-accessors/dependencies-accessors.lock
.DS_Store
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/MarketApp.iml
.idea/gradle.xml
.idea/compiler.xml
.idea/.name
.idea/navEditor.xml
.idea/assetWizardSettings.xml
app/release/app-release.apk
app/release/output-metadata.json
build/kotlin/sessions/kotlin-compiler-3780465078772500679.salive
